

<h3>予約一覧</h3>

 <table>
   <thead>
     <tr>
       <th>施設名</th>
       <th>施設詳細</th>
       <th>施設画像</th>
       <th>合計金額</th>
       <th>チェックイン日</th>
       <th>チェックアウト日</th>
       <th>予約確定日時</th>
     </tr>
   </thead>
 
   <tbody>
   <% @reservations.each do |reservation| %>
       <tr>
       <td><%= reservation.room.room_name %></td>
       <td><%= reservation.room.room_intro %></td>
       <td>
         <% if reservation.room.room_image.blank? %>
          <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png' %>
         <% else %>
          <%= image_tag reservation.room.room_image.url %>
         <% end %>
       </td>
       <td><%= (reservation.checkout - reservation.checkin).to_i * reservation.room.fee_p_d * reservation.num_o_p %>¥</td>
       <td><%= reservation.checkin %></td>
       <td><%= reservation.checkout %></td>
       <td><%= reservation.created_at.strftime("%Y年%m月%d日%H:%M") %></td>
       <td><%= button_to '予約をキャンセル', reservation, {method: :delete, class: "btn btn-danger"} %></td>
     </tr>
   <% end %>
   </tbody>
 </table>