<body class="error_message_margin">
<h3>登録詳細</h3>
 
 <table>
   <thead>
     <tr>
       <th>施設名</th>
       <th>施設詳細</th>
       <th>料金</th>
       <th>住所</th>
       <th>施設画像</th>
     </tr>
   </thead>
 
   <tbody>
       <tr>
         <td><%= @room.room_name %></td>
         <td><%= @room.room_intro %></td>
         <td><%= @room.fee_p_d %></td>
         <td><%= @room.address %></td>
         <td>
         <% if @room.room_image.blank? %>
          <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png' %>
         <% else %>
          <%= image_tag @room.room_image.url %>
         <% end %>
         </td>
       </tr>
   </tbody>
 </table>

 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @reservation, method: :post, url: confirm_reservation_path(:id)  do |f| %> 

      <%= f.label :チェックイン %>
      <%= f.date_field :checkin, class: 'form-control' %>
  
      <%= f.label :チェックアウト %>
      <%= f.date_field :checkout, class: 'form-control' %>
  
      <%= f.label :人数 %>
      <%= f.text_field :num_o_p, class: 'form-control' %>

      <% if current_user.blank? %>

      <%= link_to 'ログインする', login_path %>  
      
      <% else %>

      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.hidden_field :room_id, :value => @room.id %>

      <%= f.submit "予約する", class: "btn btn-primary" %>

      <% if @reservation.errors.any? %>
      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      </ul>
      <% end %>
      <% end %>

      <% end %>

    <% end %>
  </div>
</div>

 <%= link_to "戻る", :back %>
 
 </body>