<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<h3>登録詳細</h3>
 
 <table>
   <thead>
     <tr>
       <th>施設名</th>
       <th>施設詳細</th>
       <th>料金</th>
       <th>住所</th>
       <th>施設画像</th>
     </tr>
   </thead>
 
   <tbody>
       <tr>
         <td><%= @room.room_name %></td>
         <td><%= @room.room_intro %></td>
         <td><%= @room.fee_p_d %></td>
         <td><%= @room.address %></td>
         <td>
         <% if @room.room_image.blank? %>
          <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png' %>
         <% else %>
          <%= image_tag @room.room_image.url %>
         <% end %>
         </td>
       </tr>
   </tbody>
 </table>

 <%= link_to "戻る", :back %>
 